/* general */

/*  utilities */
.container {
  background-color: orange;
}

/* HEADER */
header {
  background-color: #2c3e50;
}


header .container .row div {
height: 105px;
  background-color: red;
  border: solid 1px black;
}

/* .no-padding {
  padding: 0;
} */

/* MAIN */
main .start {
  height: 480px;
  background-color: #1abc9c;
}

main .start .container .contenuto_start {
  height: 380px;
  background-color: red;
  border: solid 1px black;
}

main .portfolio {
  height: 850px;
  background-color: yellow;
}

main .portfolio .box {
  height: 240px;
  background-color: violet;
}

main .portfolio .container .row .box {
  /* width: 332px; */
  border: solid 1px black;
  /* padding-left: 38px; */
  padding-right: 38px;
  background-color: violet;
}

main .portfolio .container .row .box .contenuto_box {
height: 240px;
  background-color: red;
  width: 100%;
  background-color: red;
}

/* sezione ABOUT */
main .about {
  height: 600px;
  background-color: #1abc9c;
}

main .about .contenuto_about {
  background-color: green;
  height: 515px;
}

main .about .contenuto_about .col_about {
  height: 180px;
  background-color: red;
  margin-top: 250px;
  border: solid 1px black;
}

/* sezione CONTACT */
main .contact {
  height: 995px;
}

main .contact .contenuto_contact {
  background-color: blue;
  height: 780px;
  margin-top: 90px;
}


/* FOOTER */
footer .footer_up {
  height: 306px;
  background-color: #2c3e50;
}

footer .footer_up .row .box_footer {
  background-color: red;
  height: 165px;
  border: solid 1px black;
}

footer .footer_down {
  background-color: #1a252f;
  height: 73px;
}

footer .footer_down .row {
  background-color: red;
  height: 73px;
  border: solid 1px black;
}
