/* general */

/*  utilities */
.container {
  background-color: orange;
}

/* HEADER */
header {
  background-color: #2c3e50;
}



header .container .row div {
  background-color: red;
}

/* .no-padding {
  padding: 0;
} */

/* MAIN */
main .start {
  height: 480px;
  background-color: #1abc9c;
}

main .start .container .contenuto_start {
  height: 380px;
  background-color: red;
}

main .portfolio {
  height: 850px;
  background-color: yellow;
}

main .portfolio .box {
  height: 240px;
  background-color: violet;
}

main .portfolio .box {
  /* width: 332px; */
  border: solid 1px black;
  margin-right: 50px;

}

/* sezione ABOUT */
main .about {
  height: 600px;
  background-color: #1abc9c;
}

main .about .contenuto_about {
  background-color: green;
  height: 515px;
}

main .about .contenuto_about .col_about {
  height: 180px;
  background-color: red;
  margin-top: 250px;
  border: solid 1px black;
}
